<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rasanjana.anyhelp">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MechanicAppointment"></activity>
        <activity android:name=".NurseProfileUpdate"></activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".MechanicRegistration">

        <action android:name="android.intent.action.MAIN" />

        </activity>

        <activity android:name=".TeacherProfileUpdate"></activity>
        <activity android:name=".MechanicEditProfile" />
        <activity android:name=".MechanicProfileActivity" >

        </activity>
        <activity android:name=".CareerProfileActivity" />
        <activity android:name=".AddAppointment" />


        <activity android:name=".MyAppointments" />
        <activity android:name=".UserMenuActivity" />
        <activity android:name=".PlumberCareerCreate" />
        <activity android:name=".TeacherAppointments" />
        <activity android:name=".NurseProfile" />
        <activity android:name=".PlumberCareerUpdateFormActivity" />



        <activity android:name=".ServiceProviderRegister" />
        <activity android:name=".NurseCareerCreate"></activity>
        <activity android:name=".AppHomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeacherProfile" />
        <activity android:name=".TeacherCareerCreate"></activity>
        <activity android:name=".PlumberProfileActivity"></activity>







        <activity android:name=".UserRegister" />
        <activity android:name=".loginPage" />
        <activity android:name=".ChooseRegisterType" />
        <activity android:name=".MainActivity" />

    </application>

</manifest>